@import "tailwindcss";


:root{
  /* Primary Colors */
  --primary: #2F80ED;
  --secondary: #F2994A;
  --accent: #27AE60;

  /* Neutral Colors */
  --background-light: #FAFAFA;
  --background-dark: #121212;
  --text-dark: #333333;
  --text-light: #FFFFFF;

  /* Semantic Colors */
  --success: #27AE60;
  --warning: #F2C94C;
  --error: #EB5757;
  --info: #56CCF2;
}

@theme inline {

  /* Main colors*/
  --color-p1: var(--primary);
  --color-s1: var(--secondary);
  --color-accent: var(--accent);

  /* Background Colors */
  --color-b-light: var(--background-light);
  --color-b-dark: var(--background-dark);

  /* Text Colors */
  --color-t-dark: var(--text-dark);
  --color-t-light: var(--text-light);

  /* Semantic Colors */
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-info: var(--info);

  /* Font Families */
  --font-sans: var(--font-montserrat-sans);
  --font-mono: var(--font-poppins-sans); 
}


